<!DOCTYPE html>
<html>
<head>
</head>

<script>
/* test how to run duplicate test and what is the time/space complexity
   this algorithm should be linear time complexity , but could speed it up by
   sorting the store array by smallest to largest, then using binary search to check for
   duplicates in the store   */
	var input = [2,3,5,6,9,2,4,3,5];
	var store = [];
	var match = false;
	console.log("checking array, input length"+input.length);
	for(var x=0; x<input.length; x++){
		console.log("running input loop: x="+x);
		if(store.length === 0){
			console.log("added value="+input[x]+" to store from index input["+x+"]");
			store.push(input[x]);
		}
		else{
		    match = false;//reset
			for(var y=0; y<store.length; y++){
				console.log("running store loop: y"+y);
				if(input[x] === store[y]){
					match = true;
					console.log("match input["+x+"]="+input[x]+", store["+y+"]="+store[y]);
				} 
			}
			if(match === false){//only push after checking whole store and if matches
					store.push(input[x]);
					console.log("added value="+input[x]+" to store from index input["+x+"]");
			}
		}
	}
</script>


<body>

<button type="button" onclick="loadXMLDoc()">RUN CODE</button>
<p> use the button above to parse the interface file and produce the output</p>
<p> the output will be saved to a file name output.txt </p>

<br>
<br>
<br>
<h3>STATUS<h3/>
<hr>
<br>
<br>
<div id="demo" src=""></div>
<hr>
<br>
<!-- <iframe id="rawfile" src=""> -->
<!-- <iframe id="parsingfile" src=""> -->
<p>Code written by: Nicholas Donald</p>

</body>


</html>
